@media only screen and (max-width: 807px) {
    .vl {
        display: none;
    }
}

.vl {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    height: 40px;
    border-radius: 50px;
  }

  .dot-active {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-disabled {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }